:root {
  --jalluBrown: #3d1d10;
  --jalluLB: #836c56;
  --jalluOrange: #f87b05;
  --jalluRed: #992605;
}

.svg {
  margin: 0;
  padding: 0;
}

.noteContainer {
  width: 100%;
  height: 105px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--jalluLB);
  text-shadow: 1px 0px var(--jalluBrown);
  font-size: 10px;
  font-family: "Gabriela", serif;
  width: 86%;
  height: 15px;
  word-wrap: break-word;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* white-space: pre-wrap; ----> preserves line breaks from text area*/
.content {
  color: var(--jalluBrown);
  font-size: 12px;
  font-family: "Tangerine", cursive;
  width: 85%;
  height: 60px;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: auto;
}

.bottleFooter {
  color: var(--jalluBrown);
  font-family: "Gabriela", serif;
  position: absolute;
  bottom: 0;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 7px;
}

.deleteBtn {
  color: var(--jalluBrown);
  font-size: 7px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.deleteBtn:hover {
  font-size: 7.5px;
  cursor: pointer;
}

/* scrollbar customization */
.content::-webkit-scrollbar {
  width: 5px;
}

.content::-webkit-scrollbar-track {
  background: var(--jalluRed);
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--jalluOrange);
  border-width: 1px;
  border-style: solid;
  border-color: var(--jalluRed);
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #e97100;
}
