:root {
  --jalluBrown: #3d1d10;
}

.noteForm {
  background-color: rgb(183, 95, 36, 0.8);
  position: fixed;
  top: 70px;
  right: 20px;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--jalluBrown);
  font-family: "Gabriela", serif;
}

.noteForm > form {
  color: var(--jalluBrown);
  display: flex;
  flex-direction: column;
}

.titleInput {
  border-width: 2px;
  border-color: var(--jalluBrown);
}

.noteForm > form > textarea {
  border-width: 2px;
  border-color: var(--jalluBrown);
}

.formButton {
  color: var(--jalluBrown);
  border-color: var(--jalluBrown);
  margin-top: 5px;
}

.formButton:hover {
  cursor: pointer;
  background-color: var(--jalluBrown);
  color: white;
}
